table, td, th,tr
{
	border : solid 1px black;
	background-color : #222;
}

body { 
     Background:#444; 
     color : #EEE;
 } 

ul,ol,li {
   color : #F2C12C;
}

h1{
	color : #CC6D00;
}

h2{
	color : #CC6D00;
}

h3{
	color : #C47D0A;
}

a:link{
color : #FFF;
}

a:visited {color:#CCC;}
a:hover {color:#FFF;}
}

