table, td, th,tr
{
	border : solid 1px black;
	background-color : #222222;
}
table.menu {
	position: absolute;
	width : 100%;
    text-align: center;
    top : 0px;
    left : 0px;
    border : none;
    margin-bottom : 50px;
}

a.menu{
	font-size : 20px;
}

a.menu:link{
	color : #EBC000;
	text-decoration:none;
}

a.menu:visited{
size : 30px;
	color : #EBC000;
}

a.menu:hover {
color:#EBCF00;
}

body { 
     Background:#444444; 
     color : #EEEEEE;
 } 

ul,ol,li {
   color : #F2C12C;
}

h1{
	margin-top:60px;
	margin-bottom:40px;
	color : #CC6D00;
}

h2{
	margin-top:50px;
	color : #CC6D00;
}

h3{
	color : #C47D0A;
}

a:link{
color : #FFFFFF;
}

a:visited {color:#CCCCCC;}
a:hover {color:#FFFFFF;}
